
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2 class="headerText" >Menu</h2>*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Home/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <div class="menuContainer">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h4><strong  class="list-group-item-heading  menuListHeader ">Special Signatures</strong></h4>
                <div class="list-group">
                   <ul>
                       <li class="list-group-item" >Special Jigar thanda</li>
                       <li class="list-group-item" >Classic Jigar thanda</liclass="list-group-item">
                       <li class="list-group-item" >Rajamundry Special Rosemilk</li>
                   </ul>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <h4><strong class="list-group-item-heading menuListHeader ">Milk shakes</strong></h4>
                <div class="list-group">
                    <ul>
                        <li class="list-group-item" >Mango Milk shake</li>
                        <li class="list-group-item" >Strawberry Milk shake</li>
                        <li class="list-group-item" >Chocolate Milk shake</li>
                        <li class="list-group-item" >Mango Milk shake</li>
                        <li class="list-group-item" >Strawberry Milk shake</li>
                        <li class="list-group-item" >Chocolate Milk shake</li>
                        <li class="list-group-item" >Mango Milk shake</li>
                        <li class="list-group-item" >Strawberry Milk shake</li>
                        <li class="list-group-item" >Chocolate Milk shake</li>
                    </ul>
                </div>
            </div>          
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <strong class="list-group-item-heading">Mocktails</strong>
                <div class="list-group-item-text">
                    <ol>
                        <li>Sherly Temple</li>
                        <li>Pina Colada</li>
                        <li>Mocktail 3</li>
                        <li>Mocktail 4</li>
                        <li>Mocktail 5</li>
                        <li>Mocktail 6</li>
                        <li>Mocktail 7</li>
                        <li>Mocktail 8</li>
                        <li>Mocktail 9</li>
                        <li>Mocktail 10</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <strong class="list-group-item-heading">Ice Creams</strong>
                <div class="list-group-item-text">
                    <ol>
                        <li>Mango Ice cream</li>
                        <li>Strawberry Ice cream</li>
                        <li>Chocolate Ice cream</li>
                        <li>Mango Ice cream</li>
                        <li>Strawberry Ice cream</li>
                        <li>Chocolate Ice cream</li>
                        <li>Mango Ice cream</li>
                        <li>Strawberry Ice cream</li>
                        <li>Chocolate Ice cream</li>
                    </ol>
                </div>
            </div>
        </div>

        @*<div class="row">
            <div class="col-md-3 col-xs-12">
                <div class="catalogItem">
                    <img class="catalogImg" src="~/images/jigarthanda.png" alt="Madurai Special Jigar thanda" /><br />
                    <span class="description">Menu Item 1</span><br />
                    <span class="description">Price in Rs</span>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="catalogItem">
                    <img class="catalogImg" src="~/images/jigarthanda.png" alt="Madurai Special Jigar thanda" /><br />
                    <span class="description">Menu Item 2</span><br />
                    <span class="description">Price in Rs</span>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="catalogItem">
                    <img class="catalogImg" src="~/images/jigarthanda.png" alt="Madurai Special Jigar thanda" /><br />
                    <span class="description">Menu Item 3</span><br />
                    <span class="description">Price in Rs</span>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="catalogItem">
                    <img class="catalogImg" src="~/images/jigarthanda.png" alt="Madurai Special Jigar thanda" /><br />
                    <span class="description">Menu Item 3</span><br />
                    <span class="description">Price in Rs</span>
                </div>
            </div>
        </div>*@
    </div>
</body>

</html>